.product-thumbnail {
  position: relative;
  
  .product-thumbnail__quantity {
    font-size: 0.85714em;
    font-weight: 700;
    line-height: 1.75em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: rgba(114, 114, 114, 0.9);
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    padding: 0 0.58333em;
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    z-index: 3;
  }
}

@media (max-width: 1000px) {
  .cart__row {
    .ui.grid > [class*="five wide"].column {
      text-align: right;
      width: 70% !important;
    }
    .ui.grid > [class*="center aligned"].column {
      width: 100% !important;
    }
  }
}
